* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none; }

body {
  background: #333;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.2rem;
  color: #f4f4f4; }

.container {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 1rem 0; }

span {
  color: #da843d; }

.btn-light,
.btn-dark {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  transition: all 0.5s;
  border: none;
  border-radius: 5px;
  cursor: pointer; }

.btn-light {
  background: #f4f4f4;
  color: #333; }

.btn-light:hover {
  background: #da843d;
  color: #333; }

.btn-dark {
  background: #333;
  color: #f4f4f4; }

.btn-dark:hover {
  background: #da843d;
  color: #333; }

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1rem; }
  .navbar .logo {
    font-size: 2rem;
    font-weight: bold; }
    .navbar .logo:hover {
      color: #da843d;
      background: inherit; }
  .navbar a {
    color: #f4f4f4;
    padding: 0.75rem 1.5rem;
    border-radius: 10px;
    margin: 0 0.25rem;
    transition: all 0.5s; }
    .navbar a:hover {
      background: #4d4d4d;
      color: #da843d; }
    .navbar a.current {
      background: #666666;
      color: #da843d; }
  .navbar ul {
    display: flex;
    align-items: center; }

#showcase {
  background: url(/dist/img/showcase.jpg) no-repeat center center/cover;
  max-width: 1200px;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 1rem;
  border-radius: 10px; }
  #showcase .showcase-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #showcase .showcase-content p {
      padding: 2rem 0;
      font-size: 1.25rem; }
    #showcase .showcase-content h1 {
      font-size: 4rem;
      margin-bottom: 1rem;
      line-height: 1em; }

.history-content {
  display: flex;
  align-items: center;
  height: 40vh; }
  .history-content .history-img {
    background-image: url(/dist/img/photo-1.jpg);
    height: 100%;
    width: 50%;
    border-radius: 10px; }
  .history-content .history-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
    padding: 2rem;
    align-items: center; }
  .history-content .history-right p {
    padding: 2rem 0; }

#features {
  display: flex;
  align-items: center; }
  #features div[class^="feat"] {
    text-align: center;
    padding: 3rem;
    color: #333;
    border-radius: 10px; }
    #features div[class^="feat"]:nth-child(odd) {
      background: #e29f68; }
    #features div[class^="feat"]:nth-child(even) {
      background: #f4f4f4;
      margin: 0 1rem; }
    #features div[class^="feat"] h3 {
      padding: 1rem; }

.footer {
  padding: 1rem; }
